@font-face {
  font-family: 'Raleway';
  src: local('Raleway Regular'), local('Raleway-Regular'), url('../fonts/ralewayregular.woff2') format('woff2'), url('../fonts/ralewayregular.woff') format('woff'), url('../fonts/ralewayregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/Montserrat-Regular.otf') format('otf'), url('../fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: Montserrat;
}
.wrp {
  width: 1230px;
  margin: 0 auto;
}
.header {
  width: 1920px;
  height: 100vh;
  max-height: 1024px;
  background-image: url(../img/bg_photo_header.jpg);
  color: #fff;
}
.header-nav-list {
  display: flex;
  justify-content: space-between;
  padding: 40px 30px;
  list-style: none;
  text-transform: capitalize;
  align-items: center;
}
.header-nav-list-item-logo {
  margin-right: 190px;
}
.header-nav-list-item-link {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
}
.header-nav-list-item-link-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Raleway';
  font-size: 34px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.04em;
}
.header-nav-list-item-link-svg {
  fill: currentColor;
}
.header-nav-list-item-link:hover {
  color: #998675;
}
.header-nav-list-item-link:active {
  color: #998675;
}
.header-nav-list-item-pic {
  margin-left: 35px;
}
.header-slider {
  width: 1620px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  min-height: calc(100% - 135px);
}
.header-slider-wrapper {
  display: flex;
  width: 1620px;
  justify-content: space-between;
  align-items: center;
}
.header-slider-arrow {
  fill: #9a9a9a;
}
.header-slider-arrow:hover {
  fill: #998675;
}
.header-slider-content {
  text-align: center;
  width: 590px;
}
.header-slider-content-top-text {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 500;
  font-family: Raleway;
}
.header-slider-content-title {
  font-size: 52px;
  line-height: 1.2;
  font-weight: 800;
  font-family: Raleway;
  margin-bottom: 10px;
}
.header-slider-content-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}
.header-slider-content-button {
  display: block;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  font-family: Raleway;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  margin-top: 50px;
  padding: 20px 40px;
  background-color: #998675;
}
.header-slider-nav {
  width: 100%;
}
.header-slider-nav-list {
  display: flex;
  list-style: none;
  justify-content: center;
}
.header-slider-nav-list-item {
  margin: 0 5px 45px 5px;
}
.header-slider-nav-list-item-link {
  border: none;
  background-color: #9a9a9a;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
}
.header-slider-nav-list-item-link-act {
  border: 2px solid #998675;
  background-color: transparent;
}
.header-slider-nav-list-item-link:hover {
  border: 2px solid #998675;
  background-color: transparent;
}
.active {
  color: #998675;
}
.direction {
  background-color: #fff;
}
.ideas {
  background-color: #fbfaf8;
}
