@font-face {
    font-family: 'Raleway';
    src: local('Raleway Regular'), local('Raleway-Regular'), url('../fonts/ralewayregular.woff2') format('woff2'), url('../fonts/ralewayregular.woff') format('woff'), url('../fonts/ralewayregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/Montserrat-Regular.otf') format('otf'), url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@color-white:#fff;
@color-white-dark:#fbfaf8;
@color-grey-light:#9a9a9a;
@color-grey-text: #8c8c8c;
@color-brown:#998675;

@color-hover:@color-brown;
@color-active:@color-brown;

@whidth:1230px;

.text(@font-size,@line-height,@font-weight) {
    font-size:@font-size;
    line-height:@line-height;
    font-weight:@font-weight;
}


.container {
    max-width: 1920px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Montserrat;
}

.wrp {
    width: @whidth;
    margin: 0 auto;
}

.header {
    width: 1920px;
    height: 100vh;
    max-height: 1024px;
    background-image: url(../img/bg_photo_header.jpg);
    color:@color-white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    

    &-nav {

        &-list {
            display: flex;
            justify-content: space-between;
            padding: 40px 30px 0 30px;
            list-style: none;
            text-transform: capitalize;
            align-items: center;
            

            &-item {

                &-logo{
                    margin-right: 190px;
                }

                &-link {
                    color: @color-white;
                    text-decoration: none;
                    .text(14px, 1.2, 300);
                    
                    &-logo {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-family: 'Raleway';
                        .text(34px, 1.2, 400);
                        letter-spacing: -0.04em;
                    }

                    &-svg {
                        fill: currentColor;
                    }                    
                
                }
                
                &-link:hover {
                    color:@color-active;
                }

                &-link:active {
                    color:@color-hover;
                }

                &-pic {
                    margin-left: 35px;
                }


            }    
        }
    }

    &-slider {
        width: 1620px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        

        &-wrapper {
            display: flex;
            width: 1620px;
            justify-content: space-between;
            align-items: center;
        }

        &-arrow {
            fill: @color-grey-light;
        }

        &-arrow:hover {
            fill: @color-brown;
        }        

        &-content {
            text-align: center;
            width: 590px;

            &-top-text {
                .text(36px, 1.2, 500);
                font-family: Raleway;
            }

            &-title {
                .text(52px, 1.2, 800);
                font-family: Raleway;
                margin-bottom: 10px;
            }

            &-text {
                .text(16px, 24px, 300);
            }

            &-button {
                display: inline-block;
                .text(14px, 23px, 800);
                font-family: Raleway;
                text-transform: uppercase;
                color: @color-white;
                text-decoration: none;
                margin-top: 50px;
                padding: 20px 40px;
                background-color: @color-brown;
                border-radius: 5px;
            }
            &-button:hover {
                color: @color-brown;
                text-decoration: none;
                margin-top: 50px;
                padding: 20px 40px;
                background-color: @color-white-dark;
                border-radius: 5px;
            }

        }
    }

    &-nav-for-slider {
        width: 100%;

        &-list{
            display: flex;
            list-style: none;
            justify-content: center;
            margin-top: 40px;

            &-item {
                margin: 0 5px 45px 5px;

                &-link {
                    border:none;
                    background-color: @color-grey-light;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    display: block;

                    &-act {
                        border:2px solid @color-brown;
                        background-color: transparent;
                    }
                }
                &-link:hover {
                    border:2px solid @color-brown;
                    background-color: transparent;
                }
            }
        }
    }

}

.active{
    color: @color-active;
}

.direction {
    background-color: @color-white;
}

.ideas{
    background-color: @color-white-dark;
}